name = "echoeco"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat_v2"]

[assets]
directory = "./dist"

[vars]
# Environment variables can be added here

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
persist = true
head_sampling_rate = 1
